.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(37, 151, 123, 0.2);;
    margin: 20px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px 0px 0px 20px;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(163,163,163,0.54);
    -moz-box-shadow: 0px 5px 9px 0px rgba(163,163,163,0.54);
    box-shadow: 0px 5px 9px 0px rgba(163,163,163,0.54);
}


.card-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
}

.card-info>* {
    /* padding-top: 9.5px; */
    padding: 7.5px 9px 3px 5px;
}

.card-image {
    /* padding-bottom: 10px; */
}

#summary {
    max-width: 500px;
    text-align: start;
}

.card-info-wrapper {
    display: flex;
    align-items: center;
    height: 30px;
}

.card-info-wrapper #star-rating {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-bottom: 6px;
}

#difficulty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 25px;
    background-color: rgb(189, 189, 211);
    color: white;
    border-radius: 10px;
    font-size: 0.8em;
    padding-top: 8px;
}

.like {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: end;
}

.like button {
    background-color: white;
    color: rgba(189, 189, 211,1);
    border-radius: 0px 0px 8px 8px;
    border: 1px solid rgba(189, 189, 211,1);
}

.like button:hover {
    background-color: rgb(188, 221, 236);
    color: rgb(253, 253, 253);
}

img {
    height: 200px;
    border-radius: 13px;
    margin-right: 10px;
}