@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

.content-left-photo {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}

.button-home {
    width: 120px;
}

@media (max-width: 619px) {
    .row-with-columns {
        display: flex;
        align-items: center;
        flex-direction: column;
    } 

    .photo-left {
        height: 25vh;
    }

    .button-home {
        padding: 5px;
    }
}

@media (min-width: 620px) and (max-width: 710px) {
    .row-with-columns {
        display: flex;
        align-items: center;
        flex-direction: column;
    } 

    .photo-left {
        height: 30vh;
    }

    .button-home {
        padding: 5px;
    }
}

@media (min-width: 710px) and (max-width: 767px) {
    .row-with-columns {
        display: flex;
        align-items: center;
        flex-direction: column;
    } 

    .photo-left {
        height: 35vh;
    }

    .button-home {
        padding: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .photo-left {
        height: 40vmin;
    }   
}

@media (min-width: 992px) {
    .photo-left {
        height: 50vh;
    }
}

