/* Size of the initial google map */
#map {
    height: 400px;
    width: 100%;
}


/* #hiker-icon {
    height: 30px;
} */

#rondje {
    background: lightblue;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 3px solid rgb(58, 91, 102);
}

#rondje p {
    padding: 4.5px;
    padding-left: 4px;
    color: black;
}


.search-bar {
    width:100%;
    height: 20px;
}
/* button styling */


  
  /* css for the shiny buttons */

